<div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="d-flex justify-content-center">
                    <div class="form-group">
                        <label for="dropdown-department">Select Department</label>
                        <select name="department" id="department" class="form-control" (change)="loadRequests()" [(ngModel)]="selected_department_id">
                            <option value="" selected disabled>Select Department</option>
                            <option *ngFor="let department of departments" [value]="department.departmentId">{{department.departmentName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="d-flex justify-content-center mt-5">
                    <h3 class="font">View Sended Requests</h3>
                </div>            
            </div>
            <div class="col-md-12 mt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>S.No</th>
                        <th>Leader Name</th>
                        <th>Number of Visitors</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of requests;let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{request.visitorName}}</td>
                            <td>{{request.numberOfVisitors}}</td>
                            <td>{{request.purpose}}</td>
                            <td>
                                <div *ngIf="request.approvalStatus !== 1 && request.approvalStatus !== -1">
                                        <input type="button" class="btn btn-success" value="Approve" (click)="approve(request)">
                                        <input type="button" class="btn btn-danger" value="Reject" (click)="reject(request)">
                                </div>
                                
                                <div *ngIf="request.approvalStatus == 1">
                                        <input type="button" class="btn btn-success" value="Approved" disabled>
                                       
                                </div>
                                <div *ngIf="request.approvalStatus == -1">
                                    <input type="button" class="btn btn-danger" value="Rejected" disabled>
                                   
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>