<div>
    <div *ngIf="isUser() === 'DEPARTMENT'">
        <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#">GatePass Managemenet Sysyem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item font">
          <a class="nav-link" [routerLink]="['department/viewRequest']" routerLinkActive="router-link-active">View Requests
            
          </a>
        </li>
        <li class="nav-item font">
            <a class="nav-link" [routerLink]="['/department/sended']" routerLinkActive="router-link-active"   >View Sended Requests              
            </a>
          </li>
        <li class="nav-item font">
          <a class="nav-link" [routerLink]="['/department/giveRequest']" routerLinkActive="router-link-active" >Give Request</a>
        </li>
       
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item">{{_auth.getUser()}}</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>            
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
    </div>
    <div *ngIf="isUser() === 'ADMIN'">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand text-white" href="#">Gate Pass System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-white navbar-toggler-icon"></span>
          </button>            
        </nav>
  </div>
  <div *ngIf="isUser() === 'GATE'">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" href="#">Gate Pass System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-white navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item font">
                <a class="nav-link font" [routerLink]="['/gate/viewRequests']" routerLinkActive="router-link-active" >View Requests
                  
                </a>
              </li>
            
              <li class="nav-item font">
                <a class="nav-link font" [routerLink]="['/gate/sendRequest']" routerLinkActive="router-link-active" >Give Request</a>
              </li>
              <li class="nav-item font">
                <a class="nav-link font" [routerLink]="['/gate/visiters']" routerLinkActive="router-link-active" >View Visitors</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                  aria-labelledby="navbarDropdownMenuLink-333">
                  <a class="dropdown-item">{{_auth.getUser()}}</a>
                  <a class="dropdown-item" (click)="logout()">Logout</a>            
                </div>
              </li>
            </ul>
          </div>           
      </nav>
</div>
<div *ngIf="isUser() !== 'DEPARTMENT' && isUser() !== 'GATE' && isUser() !== 'ADMIN'">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand text-white" href="#">Gate Pass System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white navbar-toggler-icon"></span>
      </button>            
    </nav>
</div>
</div>