<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="font">View Requests</h3>
                </div>            
            </div>
            <div class="col-md-12 mt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>S.No</th>
                        <th>Leader Name</th>
                        <th>Number of Visitors</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of requests;let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{request.visitorName}}</td>
                            <td>{{request.numberOfVisitors}}</td>
                            <td>{{request.purpose}}</td>
                            <td>
                                <div *ngIf="request.approvalStatus == 0">
                                    <input type="button" value="Approve" (click)="approve(request)" class="btn btn-primary" />
                                    <input type="button" value="Reject" class="btn btn-danger" (click)="reject(request)"/>
                                </div>
                                <div *ngIf="request.approvalStatus == -1">                                       
                                        <input type="button" value="Rejected" disabled class="btn btn-danger" />
                                </div>
                                <div *ngIf="request.approvalStatus == 1">                                       
                                        <input type="button" value="Approved" disabled class="btn btn-success" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>