<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center ">
                <h3 class="title">Visitor Request Form</h3>
            </div>
        </div>
    </div>
    <form #departmentRequest="ngForm" (ngSubmit)="giveRequest()">
        <div *ngIf="showError">
            <div class="alert alert-{{customError.type}} alert-dismissible fade show" role="alert">
                <strong>{{customError.type}}!! </strong>{{customError.errorMessage}}
                <button type="button" class="close" (click)="hideError()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Incharge Name</label>
                    <input type="text" class="form-control" required name="inchargeName" ngModel
                        [(ngModel)]="request.visitorName" />
                </div>
                <div class="form-group">
                    <label for="date">Date Of visit_date</label>
                    <input type="date" class="form-control" required name="visit_date" ngModel
                        [(ngModel)]="request.enterDateTime">
                </div>
                <div class="form-group">
                    <label for="Nuber Of Persons">Number Of Visitors</label>
                    <input type="number" class="form-control" required name="number_of_visitors" ngModel
                        [(ngModel)]="request.numberOfVisitors" />
                </div>
                <div class="form-group">
                    <label for="">Reason</label>
                    <textarea name="reason" id="" cols="30" rows="5" class="form-control" ngModel
                        [(ngModel)]="request.purpose" required></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-success" value="Give Request" [disabled]="departmentRequest.form.invalid">
                </div>
            </div>
        </div>
    </form>
</div>