<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="font">View Sended Requests</h3>
                </div>            
            </div>
            <div class="col-md-12 mt-5">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>S.No</th>
                        <th>Leader Name</th>
                        <th>Number of Visitors</th>
                        <th>Date</th>
                        <th>Reason</th>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of requests;let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{request.visitorName}}</td>
                            <td>{{request.numberOfVisitors}}</td>
                            <td>{{request.enterDateTime}}</td>
                            <td>{{request.purpose}}</td>                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>