<div class="container">
    <form #gareRequest="ngForm" (ngSubmit)="giveRequest()">
        <div *ngIf="showError">
            <div class="alert alert-{{customError.type}} alert-dismissible fade show" role="alert">
                <strong>{{customError.type}}!! </strong>{{customError.errorMessage}}
                <button type="button" class="close" (click)="hideError()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="d-flex justify-content-center">
                    <h3>Request Details</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Select Department Name</label>
                    <select name="department" id="department" class="form-control" required [(ngModel)]="selected_department_id">
                        <option value="" selected disabled>Select Department</option>
                        <option [value]="department.departmentId" *ngFor="let department of departments" >
                            {{department.departmentName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="leader_name">Visitor Name</label>
                    <input type="text" class="form-control" name="leader_name" required [(ngModel)]="request.visitorName">
                </div>
                <div class="form-group">
                    <label for="number_of_visitors">Number of Visitors</label>
                    <input type="number" name="noofvisitors" id="count" required class="form-control"
                        [(ngModel)]="request.numberOfVisitors">
                </div>
                
                <div class="form-group">
                    <label for="Purpose">Purpose</label>
                    <textarea name="purpose" id="purpose" cols="30" rows="5" required class="form-control"
                        [(ngModel)]="request.purpose"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Give Request" [disabled]="gareRequest.form.invalid" class="btn btn-success mb-4">
                </div>
            </div>
        </div>
    </form>
</div>