<div class="login">
    <div class="card">
        <!-- Default form login -->
<form class="text-center border border-light p-5" #login = "ngForm" (submit)="submitUser()">   
    <p class="h4 mb-4">Sign in</p>    
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" required placeholder="E-mail" ngModel name="username" [(ngModel)]="user.username">    
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" required placeholder="Password" ngModel name="password" [(ngModel)]="user.password">       
    <button class="btn btn-info btn-block my-4" type="submit" [disabled]="login.form.invalid">Sign in</button>   
</form>
<!-- Default form login -->
    </div>
</div>