<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <h3>Visiter Details</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="form-group">
                    <label for="Select Department"></label>
                    <select name="department" id="department" class="form-control" [(ngModel)]="department_id" (change)="handelChange()">
                        <option value="" [disabled]="true">Select Department</option>
                        <option [value]="department.departmentId" *ngFor="let department of departments">{{department.departmentName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Number of visitors</th>
                    <th>Reason</th>
                    <th>Entry Gate</th>
                    <th>Entry Time</th> 
                    <th>Exit Gate</th>
                    <th>Exit Time</th>                                       
                    <th>Action </th>                    
                </thead>
                <tbody>
                    
                   <tr *ngFor="let guest of visitors; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{guest.visitorName}}</td>
                        <td>{{guest.numberOfVisitors}}</td>
                        <td>{{guest.purpose}}</td>
                        <td>{{guest.accepter.username}}</td>
                        <td>{{guest.enterDateTime}}</td>
                        <td>{{guest.exitGate}}</td>                          
                        <td>{{guest.exitDateTime}}</td>
                       <td>
                           <input type="button" name="submit" *ngIf="guest.exitGate == null" id="submit" class="btn btn-danger" value="Mark Exit" (click)="markExit(guest)">
                           <label for="" *ngIf="guest.exitGate !== null">Exited</label>
                       </td>
                        
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>